body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    background-color: rgb(5, 118, 194);
}
.freame{
    width: 400px;
    height: 400px;
    background-color: rgb(255, 255, 255);
    display: flex;
    
    align-items: center;
    justify-content: center;
    border-radius: 20PX;
}
.dtails{
    width: 40%;
    height: 90%;
    background-color: rgb(37, 0, 97);
    display: flex;
    flex-direction: column;
    border-radius: 10PX;
}
.header1{
    width: 100%;
    height: 10%;
    /* background-color: rgb(84, 84, 109); */
    color: white;
    text-align: center;
}
.price{
    width: 100%;
    height: 10%;
    /* background-color: rgb(112, 240, 80); */
    color: white;
    margin-top: 10PX;
    margin-left: 5px;
}
.content{
    width: 100%;
    height: 80%;
    /* background-color: rgb(200, 214, 7); */
    color: white;
    margin-top: 10PX;
      margin-left: 5px;
}
.paymethod{
    width: 50%;
    height: 90%;
    /* background-color: rgb(66, 66, 66); */
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}
.header2{
    width: 100%;
    height: 10%;
    /* background-color: rgb(209, 48, 48); */
    display: flex;
    align-items: center;
    justify-content: center;
}
.icons{
    width: 100%;
    height: 10%;
    /* background-color: rgb(19, 199, 223); */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}
.card{
    width: 18%;
    height: 80%;
    background-color:#f2f2f2;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card img{
    width: 100%;
    height: 90%;
    border-radius: 10px;
}
.cash{
    width: 18%;
    height: 80%;
    background-color:#f2f2f2;
    border-radius: 10px;
      display: flex;
    align-items: center;
    justify-content: center;
}
.cash img{
    width: 100%;
    height: 90%;
    border-radius: 10px;
}

.upi{
    width: 18%;
    height: 60%;
    background-color:#f2f2f2;
      display: flex;
    align-items: center;
    justify-content: center;
}
.upi img{
    width: 100%;
    height: 90%;
    /* border-radius: 10px; */
}
.pay{
    width: 100%;
    height: 70%;
    /* background-color: rgb(49, 7, 240); */
    align-items: center;
    display: flex;
    flex-direction: column;
   margin-top: -8px;
}

 .pay-title{
    margin:20px ;
   
}

.input-box{
    width:80%;
    padding:12px 15px;
    margin:10px ;
    border:none;
    border-radius:25px;
    background:#f2f2f2;
    font-size:16px;
    outline:none;
}
.row{
    display:flex;
    justify-content:center;
    gap:15px;
}

.small{
    width:35%;
}

.pay-btn{
    margin-top:9px;
  
    margin-left: 50px;
    padding:10px 20px;
    border:none;
    border-radius:30px;
    background:linear-gradient(to right,#d4b5ff,#b084f5);
    /* cursor:pointer; */
    transition:0.3s;
}

.pay-btn:hover{
    transform:scale(1.05);
}
